body {
  background: black;
}
#code {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background: black;
  border: 0;
  outline: none;
  padding: 10px;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
}
